.view-wrapper {
  margin-top: 58px;
}

input.room-input {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 46px;
  border-radius: 18px;
}

button.new-room-button {
  display: block;
  margin: auto;
  width: 50%;
  min-width: 300px;
  height: 89px;
  font-size: 40px;
}

input.error-field {
  box-shadow: 1px 1px 10px red;
}

.error {
  text-align: center;
}

.error > h5 {
  font-size: 32px;
  color: white;
  background-color: red;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 8px;
}

.popup {
  position: absolute;
  z-index: 10;
  background-color: white;
  border: 1px solid grey;
  left: 50%;
  top: 50%;
  width: 360px;
  margin-left: -180px;
  margin-top: -100px;
  text-align: center;
  height: 200px;
  padding-top: 67px;
  font-size: 24px;
}

.filter-users {
  height: 70px;
  font-size: 30px;
  width: 50%;
  min-width: 300px;
}

.user-space {
  border: 1px solid rgba(128, 128, 128, 0.57);
  padding-bottom: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.post-body {
  margin-left: 15px;
  margin-right: 57px;
  background-color: #eee;
  padding: 4px;
}

input.post-input {
  height: 70px;
  width: 70%;
  min-width: 236px;
  float: left;
  /* border-right: none; */
  font-size: 30px;
}

button.new-post-button {
  float: left;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 70px;
  font-size: 30px;
}

button.post-vote-button {
  position: absolute;
  right: 5px;
  top: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 41px;
  font-size: 22px;
}

h3.upvotes {
  float: left;
  margin-right: 25px;
  margin-left: 20px;
  color: #449d44;
  margin-top: -5px;
  margin-bottom: 3px;
}
