<div class="container">
  <div class="jumbotron fx-fade-down fx-speed-500 fx-easing-back" ng-show="room">
    <h1>Room: {{room.name}}</h1>
    <h1>Idea: {{room.idea}}</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <input type="text" class="filter-users" placeholder="filter users" ng-model="search">
    </div>
  </div>
  <button class="btn btn-lg btn-success" ng-click="you.name='dmitri';addUser()">
    Add User
  </button>
  <div class="row user-space fx-zoom-up fx-speed-500 fx-easing-back"
       ng-repeat="user in room.users | filter:search">

    <div class="col-md-12">
      <h1>{{ user.name }}</h1>
    </div>

    <div class="col-md-12 row fx-zoom-up fx-speed-500 fx-easing-back"
         ng-repeat="post in user.posts">
      <h2 class="post-body">{{ post.body }}</h2>
    </div>

    <div class="col-md-12"
         ng-if="you.name===user.name">

      <form name="newPostForm"
            ng-submit="addPost(newPostForm.$valid);newPostForm.$setPristine()"
            novalidate>

        <input type="text"
               class="post-input post-input-body"
               name="postBody"
               ng-class="{'error-field':newPostForm.postBody.$error.required && newPostForm.postBody.$dirty}"
               ng-model="newPost.body"
               placeholder="Post an Idea!"
               required>

        <button class="btn btn-md btn-primary new-post-button"
                ng-disabled="newPostForm.$invalid"
                type="submit">
          Post
        </button>

      </form>

    <div class="col-md-12 error"
         ng-show="newPostForm.postBody.$error.required && newPostForm.postBody.$dirty">
      <h5>Post Must Have Body!</h5>
    </div>

    </div>
  </div>
</div>
